.video {
    border: 1px solid white;
    background-color: white;
    /* snap begins */
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    /* snap ends */
}

.video__player {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

